<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="countdown">
                        <span id="clock"></span>
                    </div>
                    <h2 class="white">Quality Engineering Solutions</h2>
                    <p class="p-large">Sharing insights on the implementations of software testing solutions
                    </p>
                    <p class="p-large white">Interested and need more details on the solutions. Get it at no cost by reaching me on 
                        coordinates on the Contact Me page.</p>
                    <!-- <a class="btn-solid-lg page-scroll" routerLink="/contact-us">Get Started</a> -->
                    <!-- <a class="btn-outline-lg page-scroll" href="#instructor">DISCOVER</a> -->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header>


<!-- Takeaways -->
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>What we Do?</h2>
                <p class="heading font-weight-bold">I develop automation solutions leveraging the latest open source tools and frameworks
                    to build best-in-class quality engineering solutions. These solutions aim to assist building of high quality products
                    faster. he developed solutions leverage the key library features, are regularly upgraded
                    and enhanced to keep it effective and efficient.
                </p>
                <hr/>
                <p class="heading ">I am happy to share more details of the solutions and can be reached using the details on contact page.
                    <br/>Please note that all the services are FREE!!!
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards -->
<!-- end of takeaways -->