<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container text-left" style="color:white;">
          <div class="countdown">
            <span id="clock"></span>
          </div>
          <h4 class="white">API Automation</h4> 
          <h6 class="white">Rest Assured </h6> 
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</header>

<!-- Privacy Content -->
<div class="ex-basic-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-container">
  
                  <h3>REST-assured</h3>
                  <p>Rest API testing and validation of REST based services in Java is complicated than in dynamic languages such as 
                    Ruby and Groovy. REST Assured brings in the simplicity of using these languages into the Java domain.
                  </p>
                  <p>It greatly simplifies the REST API calls, processing the received response and validating the data received.</p>
                  <p><a href="https://rest-assured.io/" target="_blank">Click here to read more!</a></p>
              </div> <!-- end of text-container-->
              <!-- <a class="btn-solid-reg" href="index.html">BACK</a> -->
          </div> <!-- end of col-->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->

